.container {
  display: flex;
  gap: 10px;
  flex-direction: column;
  flex-shrink: 0;
  align-self: stretch;
  width: 145px;
}

.container img {
  aspect-ratio: 2/3;
  object-fit: cover;
  width: 100%;
}

.container h3 {
  font-weight: 300;
}

.buttons {
  display: flex;
  justify-content: space-between;
  gap: 5px;
  flex-wrap: wrap;
  margin-top: auto;
  padding-bottom: 10px;
}

.buttons button {
  border: none;
  padding: 0;
  font-size: 13px;
  border-radius: 3px;
  background: none;
  color: #fff;
  text-decoration: underline;
  cursor: pointer;
}

.favBtn i {
  font-size: 20px;
  margin-right: 0px;
}
