.container {
  display: flex;
  gap: 10px;
  flex-direction: column;
  flex-shrink: 0;
  align-self: stretch;
  width: 150px;
  background-color: #000000cc;
}

.container img {
  aspect-ratio: 2/3;
  object-fit: cover;
  width: 100%;
}

.container h3 {
  font-weight: 300;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.cardFooter {
  display: flex;
  justify-content: space-between;
  gap: 5px;
  flex-wrap: wrap;
  padding-bottom: 10px;
}

.buttons {
  display: flex;
  gap: 14px;
  margin-right: 10px;
}

.cardFooter button {
  border: none;
  padding: 0;
  font-size: 13px;
  border-radius: 3px;
  background: none;
  color: #fff;
  text-decoration: underline;
  cursor: pointer;
}

.cardFooter i {
  font-size: 20px;
}
