.container {
  padding: 16px;
}
.container h1 {
  margin-bottom: 16px;
  text-align: center;
  letter-spacing: 3px;
  font-size: 36px;
  font-weight: 300;
}

.container img {
  object-fit: contain;
  margin-bottom: 16px;
}

.details {
  border: 1px solid #fff;
  padding: 14px 10px;
}
