.container {
  padding: 16px;
}

.container h2 {
  margin-bottom: 6px;
  letter-spacing: 3px;
  font-size: 32px;
}

.container > h2 > i {
  margin-left: 10px;
  font-size: 28px;
}

.container h2 {
  position: relative;
  display: inline-block;
  /* margin-top: 70px; */
  margin-left: 10px;
}

.container h2::after {
  content: ' ';
  width: 6px;
  height: 80%;
  position: absolute;
  left: -12px;
  /* right: -14px; */
  z-index: -1;
  top: 50%;
  transform: translateY(-50%);
  background-color: #e15021;
}

.grid {
  display: flex;
  gap: 16px;
  overflow-x: auto;
  margin-bottom: 24px;
}

.grid::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

.grid::-webkit-scrollbar-track {
  border-radius: 8px;
  background-color: #e7e7e7;
  border: 1px solid #cacaca;
}

.grid::-webkit-scrollbar-thumb {
  border-radius: 8px;
  background-color: #858585;
}
