.navbar {
  display: flex;
  position: sticky;
  top: 0;
  justify-content: space-between;
  height: 70px;
  padding: 0.5rem;
  background-color: #000000ee;
  z-index: 10;
}

.navbar svg {
  cursor: pointer;
}
